.outerStyle{
    justify-content: center;
    display: block;
    height: 100%;
    width: 100%;
    max-height: 100vh;
   
    background-color: rgb(243, 244, 246);
    padding: 10px;

}

.cardContainerStyle{

    justify-content: space-around;
    height: 100%;
    width: 100%;
    max-height: 100%;    
    
    
}
.contentContainerStyle{

    /* margin: 0 auto;
    row-gap: 20px;
    column-gap: 1,33%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(800px));
    justify-content: space-around; */

    box-sizing: border-box;
    overflow-y: auto;



    /* display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space;
    align-items: center;
    align-content: flex-start;
    height: auto;
    max-height: 100%;
    width: 100%;
    overflow-y: auto; */
    
}
.employeeCard{
    border-style: solid;
    border-width: 4px;
    /* width: 400px;
    height: 200px; */
    width: 100%;
    box-sizing: border-box;
    
}

.employeeCardSelected{
    border-width: 4px;
    background-color: #e6f4ff;
    border-color: #4096ff;
    width: 100%;
    /* box-sizing: border-box; 
    width: 400px;
    height: 200px;  */
}


.buttonStyle{
    /* float right */
    float: right;

    

}
.outerContainer{
    border-style: solid;
    border-width: 5px;

    height: 100%;
    width: 45%;
    overflow: scroll;

    box-sizing: border-box;
    float: right;
    
    
}

.cards{
    clear:both;

}
.leftCard{

    width: 45%;
    height: 100%;
    float: left;


    box-sizing: border-box;
    overflow: scroll;
}

